{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock head %}

{% block content %}
    <div class="text-center centr">
    {% if is_content %}
        <table>
            <tr>
                <th>№</th>
                <th>Вопрос</th>
                <th>Ответ</th>
                <th>Точность (%)</th>
                <th>Время</th>
                <th>Ссылка</th>
            </tr>
            {% for qna in all_qna %}
                <tr>
                    <td class='left highlight'>{{ qna.id }}</td>
                    <td>{{ qna.qn }}</td>
                    <td>{{ qna.answer }}</td>
                    <td>{{ qna.score }}</td>
                    <td>{{ qna.time }}</td>
                    <td class='right'><a class='highlight' href="{{ url_for('fix_qna', qna_id=qna.id) }}">Исправить!</a></td>
                </tr>
            {% endfor %}
        </table>

        <p class="mt-5 mb-3 text-muted">© Лицей НИУ ВШЭ</p>
    {% else %}
        <p class="h3 mb-3 font-weight-normal">Вопросы-ответы отсутствуют</p>
    {% endif %}
    </div>
{% endblock content %}