{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock head %}

{% block content %}
    <form action="{{ action }}" class="form-signin text-center" method="POST">
        <img class="mb-4" src="{{ url_for('static', filename='eljur_logo.jpg') }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Вход в ЭлЖур</h1>
        <div>{{ form.login(class='form-control', type='text', placeholder='Логин') }}</div>
        <div>{{ form.password(class='form-control', type='password', placeholder='Пароль') }}</div>
        <div>{{ form.submit(class='btn btn-lg btn-primary btn-block', type='submit', placeholder='Войти') }}</div>
        <p class="mt-5 mb-3 text-muted">© Лицей НИУ ВШЭ</p>
    </form>
{% endblock content %}