{% extends "base.html" %}

{% block content %}
    <h2>Подтверждение прав</h2>

    <form action='{{ action }}' method='POST'>
        {{ form.hidden_tag() }}

        <div>{{ form.password.label}}</div>
        <div>{{ form.password(rows=5, cols=60) }}</div>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <br>

        {{ form.submit }}
    </form>
{% endblock content %}