{% extends "base.html" %}

{% block content %}
    <form action="{{ action }}" class="form-signin text-center" method="POST">
        {{ form.hidden_tag() }}
        <img class="mb-4" src="{{ url_for('static', filename='img/admin.png') }}" alt="" width="85" height="85">
        <p class="h3 mb-3 font-weight-normal">Подтверждение прав</p>
        <div>{{ form.password(class='form-control', type='password', placeholder='Пароль') }}</div>
        <div>{{ form.submit(class='btn btn-lg btn-primary btn-block', type='submit') }}</div>
        <p class="mt-5 mb-3 text-muted">© Лицей НИУ ВШЭ</p>
    </form>
{% endblock content %}